{%  extends '::base.html.twig' %}
{% block title %}{{ parent() }}
{% endblock %}
{% block stylesheets %}{{ parent() }}

<style>
.button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
</style>

{% endblock %}
{% block body %}

<div class="app">

{# Menu #}
    <nav class="left_panel">
        <ul id="Menu">
            <li id="home">
                <img src="{{ asset('framework/images/logo v2-1.png') }}" alt="Logo SoundBuzz" height="55" width="150">
            </li>
            <li id="addmusic"><a>Ajouter Musique</a></li>
            <li id="decouvrir"><a>Découvrir</a></li>
            <li id="styles"><a>Styles</a></li>
            <li id="mymusic"><a>Ma Musique</a></li>
            <li id="Playlist_all"><a>Playlists</a>
            {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                <li id="log_out"><a href="{{ path('fos_user_security_logout') }}">Log Out</a>
            {% endif %}
        </ul>
    </nav>

{# Corp du Site #}
    <div id="corp_section">
    {# Page Home #}
        <section id="home_pages">
            <h2>Home sweet Home</h2>
            <div class="border-bottom"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </section>
    {# Page Ajouter Musique #}
        <section id="addmusic_pages" class="ajouter_musique pages">

            {% if is_granted("IS_AUTHENTICATED_FULLY") %}

            <div class="main-content">

                <h2>Ajouter un morceau</h2>
                <div class="border-bottom"></div>
                {{ form_start(FormMusic) }}

                <div class="form-group">
                    <label>Titre du morceau :</label>
                        {{ form_widget(FormMusic.titre, { 'attr': {'class': 'input-control' } }) }}
                        {{ form_errors(FormMusic.titre) }}
                </div>

                {#<div class="form-group">
                    <label>Album :</label>
                        {{ form_widget(FormMusic.album, { 'attr': {'class': 'input-control' } }) }}
                        {{ form_errors(FormMusic.album) }}
                </div>#}

                <div class="form-group">
                    <label>Artiste :</label>
                        {{ form_widget(FormMusic.artiste, { 'attr': {'class': 'input-control' } }) }}
                        {{ form_errors(FormMusic.artiste) }}
                </div>

                <div class="form-group">
                    <label>Compositeur :</label>
                        {{ form_widget(FormMusic.piste, { 'attr': {'class': 'input-control' } }) }}
                        {{ form_errors(FormMusic.piste) }}
                </div>

                <div class="form-group">
                    <label>Genre Musical :</label>
                    <select name="genre_musical" class="select-control">
                        <option value="">Folk</option>
                        <option value="">Dance</option>
                        <option value="">Electro</option>
                        <option value="">Métal</option>
                        <option value="">Rock</option>
                        <option value="">Pop</option>
                        <option value="">Reggae</option>
                        <option value="">R'N'B</option>
                        <option value="">Rap</option>
                        <option value="">Internat</option>
                        <option value="">Variété</option>
                        <option value="">Classique</option>
                        <option value="">Jazz</option>
                        <option value="">Soul</option>
                        <option value="">Blues</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Image :</label>
                        {{ form_widget(FormMusic.image) }}
                        {{ form_errors(FormMusic.image) }}
                </div>

                {#<div class="form-group">
                    <label>Type :</label>
                        {{ form_widget(FormMusic.type, { 'attr': {'class': 'input-control' } }) }}
                        {{ form_errors(FormMusic.type) }}
                </div>#}

                <div class="form-group">
                    <label>Aujouter mon morceau :</label>
                        {{ form_widget(FormMusic.file) }}
                        {{ form_errors(FormMusic.file) }}
                </div>

                <div class="form-group">
                    <label for="">Autorisation de téléchargement :</label>
                    <input type="radio"> Oui<br>
                    <input type="radio"> Non<br>
                </div>

                <div class="form-group">
                    <div class="btn_mid">
                        <input class="btn_w" type="submit" value="Ajouter">
                    </div>
                </div>

                {#{{ form_end(FormMusic) }}
                    <select id="monselect">
                        {% for ListeUser in PlayListUser %}
                        <option value="{{ ListeUser.play_id }}">{{ ListeUser.nom }}</option>
                        {% endfor %}
                    </select>#}
            </div>
            {% else %}

            <p><b>Bienvenue</b><br> Vous devez être connecté pour ajouter une musique.</p>
            {% endif %}


            {# <select id="Add_Music_Ajax">
                {% for playlistes in playlistcopie %}
                    <option value="{{ playlistes.play_id }}">{{ playlistes.nom }}</option>
                {% endfor %}
            <selected> #}

        </section>
    {# Page Découvrire #}
        <section id="decouvrir_pages" class="decouverte pages">

            <div class="container_top_ecoute">
                <h1>Découvrir</h1>
                <h2>Nouveautés</h2>
                <div class="border-bottom"></div>
                <table>
                    <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Titre du morceau</th>
                        <th>Artiste</th>
                        <th>Genre Musical</th>
                        <th>Durée</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for AllMusic in music %}
                    <tr>
                        <td><div class="icons icon_play"></div></td>
                        <td><div class="icons icon_like"></div></td>
                        <td>{{ AllMusic.titre }}</td>
                        <td>{{ AllMusic.artiste }}</td>
                        <td>{{ AllMusic.album }}</td>
                        <td>{{ AllMusic.times }}</td>
                        {#<td><button class="icons icon_more">

                            </button></td>#}
                        <td>
                            <div class="dropdown">
                                <button class="dropbtn icons icon_more"></button>
                                <div class="dropdown-content">
                                    <a href="#">Télécharger</a>
                                    <a href="#">Partager sur Facebook</a>
                                    <a href="#">Partager sur Twitter</a>
                                    <a href="#">Commenter</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
               
                    </tbody>
                </table>
            </div>

            <article class="container_albums">

                <h2>Nouveaux albums</h2>
                <div class="border-bottom"></div>

                <div class="container_items_album">

                    <div class="item_album">
                        <div class="big_cover"></div>
                        <div class="text_album">
                            <div class="title_album">Sur le thème des grandes découvertes</div>
                            <div class="border-bottom"></div>
                            <div class="subtitle_album">Salut c'est cool</div>
                        </div>
                    </div>

                    <div class="item_album">
                        <div class="big_cover"></div>
                        <div class="text_album">
                            <div class="title_album">Sur le thème des grandes découvertes</div>
                            <div class="border-bottom"></div>
                            <div class="subtitle_album">Salut c'est cool</div>
                        </div>
                    </div>

                    <div class="item_album">
                        <div class="big_cover"></div>
                        <div class="text_album">
                            <div class="title_album">Sur le thème des grandes découvertes</div>
                            <div class="border-bottom"></div>
                            <div class="subtitle_album">Salut c'est cool</div>
                        </div>
                    </div>

                    <div class="item_album">
                        <div class="big_cover"></div>
                        <div class="text_album">
                            <div class="title_album">Sur le thème des grandes découvertes</div>
                            <div class="border-bottom"></div>
                            <div class="subtitle_album">Salut c'est cool</div>
                        </div>
                    </div>

                    <div class="item_album">
                        <div class="big_cover"></div>
                        <div class="text_album">
                            <div class="title_album">Sur le thème des grandes découvertes</div>
                            <div class="border-bottom"></div>
                            <div class="subtitle_album">Salut c'est cool</div>
                        </div>
                    </div>

                    <div class="item_album">
                        <div class="big_cover"></div>
                        <div class="text_album">
                            <div class="title_album">Sur le thème des grandes découvertes</div>
                            <div class="border-bottom"></div>
                            <div class="subtitle_album">Salut c'est cool</div>
                        </div>
                    </div>

                </div>

            </article>

            <article class="container_playlist_avec_artiste">

                <h2>Playlists avec cet Artiste</h2>
                <div class="border-bottom"></div>

                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th>Nom de la playlist</th>
                            <th>Nom du créateur/artiste</th>
                            <th>Genre Musical</th>
                            {#<th>Nombres d'abonnés</th>#}
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><div class="icons icon_play"></div></td>
                            <td><div class="icons icon_like"></div></td>
                            <td>Playlist</td>
                            <td>Créateur</td>
                            <td>Métal</td>
                            {#<td>XXX abonnés</td>
                            <td><div class="icons icon_more"></div></td>#}
                            <td>
                                <div class="dropdown">
                                    <button class="dropbtn icons icon_more"></button>
                                    <div class="dropdown-content">
                                        <a href="#">Télécharger</a>
                                        <a href="#">Partager sur Facebook</a>
                                        <a href="#">Partager sur Twitter</a>
                                        <a href="#">Commenter</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </article>

            <article class="container_artist">
                <h2>Artistes similaires</h2>
                <div class="border-bottom"></div>

                <div class="container_items_artistes">

                    <div class="item_artiste">
                        <div class="big_cover"></div>
                        <div class="text_artiste">
                            <div class="title_artiste">Sur le thème des grandes découvertes</div>
                        </div>
                    </div>

                    <div class="item_artiste">
                        <div class="big_cover"></div>
                        <div class="text_artiste">
                            <div class="title_artiste">Sur le thème des grandes découvertes</div>
                        </div>
                    </div>

                    <div class="item_artiste">
                        <div class="big_cover"></div>
                        <div class="text_artiste">
                            <div class="title_artiste">Sur le thème des grandes découvertes</div>
                        </div>
                    </div>

                    <div class="item_artiste">
                        <div class="big_cover"></div>
                        <div class="text_artiste">
                            <div class="title_artiste">Sur le thème des grandes découvertes</div>
                        </div>
                    </div>

                    <div class="item_artiste">
                        <div class="big_cover"></div>
                        <div class="text_artiste">
                            <div class="title_artiste">Sur le thème des grandes découvertes</div>
                        </div>
                    </div>

                    <div class="item_artiste">
                        <div class="big_cover"></div>
                        <div class="text_artiste">
                            <div class="title_artiste">Sur le thème des grandes découvertes</div>
                        </div>
                    </div>

                </div>

            </article>

            <article class="container_styles">
                <h2>Styles</h2>
                <div class="border-bottom"></div>

                <div class="container_styles_buttons">
                    <div class="styles_buttons">
                        <button class="button_folk">Folk</button>
                    </div>
                    <div class="styles_buttons">
                        <button class="button_dance">Dance</button>
                    </div>
                    <div class="styles_buttons">
                        <button class="button_electro">Electro</button>
                    </div>
                    <div class="styles_buttons">
                        <button class="button_metal">Métal</button>
                    </div>
                    <div class="styles_buttons">
                        <button class="button_autres">Autres</button>
                    </div>

                </div>
            </article>


        </section>
    {# Page Style #} 
        <section id="styles_pages" class="music_styles pages">

            <div class="container_description">
                <div class="big_cover"></div>
                <div class="artist_description">
                    <div class="artist_info">
                        <div class="button_h1">
                            <h1>Genre musical</h1>
                            <div class="border-bottom"></div>
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae ipsum dolor. Curabitur dapibus condimentum dolor a interdum. Mauris rhoncus, elit eu suscipit cursus, mi odio efficitur odio, nec rhoncus ante arcu viverra est. Pellentesque nec sapien aliquam, consectetur nisl eu, luctus augue. Phasellus fermentum elementum vestibulum. Ut vehicula eget justo id tincidunt. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam ac sagittis nisi. Curabitur eu nunc a ex elementum euismod. Aenean in risus pretium, tristique augue at, gravida mauris. Sed at purus eget lacus facilisis pulvinar.</p>
                </div>

            </div>

            <div class="container_styles_buttons">
                <div class="styles_buttons">
                    <button class="button_folk">Folk</button>
                </div>
                <div class="styles_buttons">
                    <button class="button_dance">Dance</button>
                </div>
                <div class="styles_buttons">
                    <button class="button_electro">Electro</button>
                </div>
                <div class="styles_buttons">
                    <button class="button_metal">Métal</button>
                </div>
                <div class="styles_buttons">
                    <button class="button_rock">Rock</button>
                </div>
                <div class="styles_buttons">
                    <button class="button_pop">Pop</button>
                </div>
                <div class="styles_buttons">
                    <button class="button_reggae">Reggae</button>
                </div>
                <div class="styles_buttons">
                    <button class="button_rnb">R'N'B</button>
                </div>
                <div class="styles_buttons">
                    <button class="button_rap">Rap</button>
                </div>
                <div class="styles_buttons">
                    <button class="button_internat">Internat</button>
                </div>
                <div class="styles_buttons">
                    <button class="button_variete">Variété</button>
                </div>
                <div class="styles_buttons">
                    <button class="button_classique">Classique</button>
                </div>
                <div class="styles_buttons">
                    <button class="button_jazz">Jazz</button>
                </div>
                <div class="styles_buttons">
                    <button class="button_soul">Soul</button>
                </div>
                <div class="styles_buttons">
                    <button class="button_blues">Blues</button>
                </div>
            </div>


        </section>
    {# Page Ma Musique #}
        <section id="mymusic_pages" class="bozzo pages">

            <div class="container_description">
                <div class="big_cover"></div>
                <div class="artist_description">
                    <div class="artist_info">
                        <div class="button_h1">
                            <h1>Ma musique</h1>
                            <div class="border-bottom"></div>
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae ipsum dolor. Curabitur dapibus condimentum dolor a interdum. Mauris rhoncus, elit eu suscipit cursus, mi odio efficitur odio, nec rhoncus ante arcu viverra est. Pellentesque nec sapien aliquam, consectetur nisl eu, luctus augue. Phasellus fermentum elementum vestibulum. Ut vehicula eget justo id tincidunt. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam ac sagittis nisi. Curabitur eu nunc a ex elementum euismod. Aenean in risus pretium, tristique augue at, gravida mauris. Sed at purus eget lacus facilisis pulvinar.</p>
                </div>

            </div>

            <article class="container_top_ecoute">
                <h2>Mes playlists</h2>
                <div class="border-bottom"></div>

                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Nom de la playlist</th>
                            <th>Nom du créateur/artiste</th>
                            <th>Genre Musical</th>
                            {#<th>Nombres d'abonnés</th>#}
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><div class="icons icon_play"></div></td>
                            <td>Playlist</td>
                            <td>Créateur</td>
                            <td>Métal</td>
                            {#<td>XXX abonnés</td>
                            <td><div class="icons icon_more"></div></td>#}
                            <td>
                                <div class="dropdown">
                                    <button class="dropbtn icons icon_more"></button>
                                    <div class="dropdown-content">
                                        <a href="#">Télécharger</a>
                                        <a href="#">Partager sur Facebook</a>
                                        <a href="#">Partager sur Twitter</a>
                                        <a href="#">Commenter</a>
                                    </div>
                                </div>
                            </td>
                            <td><div class="icons icon_edit"></div></td>
                            <td><div class="icons icon_trash"></div></td>
                        </tr>
                    </tbody>
                </table>

            </article>

            <article class="container_albums">

                <h2>Mes albums préférés</h2>
                <div class="border-bottom"></div>

                <div class="container_items_album">

                    <div class="item_album">
                        <div class="big_cover"></div>
                        <div class="text_album">
                            <div class="title_album">Sur le thème des grandes découvertes</div>
                            <div class="border-bottom"></div>
                            <div class="subtitle_album">Salut c'est cool</div>
                        </div>
                    </div>

                    <div class="item_album">
                        <div class="big_cover"></div>
                        <div class="text_album">
                            <div class="title_album">Sur le thème des grandes découvertes</div>
                            <div class="border-bottom"></div>
                            <div class="subtitle_album">Salut c'est cool</div>
                        </div>
                    </div>

                    <div class="item_album">
                        <div class="big_cover"></div>
                        <div class="text_album">
                            <div class="title_album">Sur le thème des grandes découvertes</div>
                            <div class="border-bottom"></div>
                            <div class="subtitle_album">Salut c'est cool</div>
                        </div>
                    </div>

                    <div class="item_album">
                        <div class="big_cover"></div>
                        <div class="text_album">
                            <div class="title_album">Sur le thème des grandes découvertes</div>
                            <div class="border-bottom"></div>
                            <div class="subtitle_album">Salut c'est cool</div>
                        </div>
                    </div>

                    <div class="item_album">
                        <div class="big_cover"></div>
                        <div class="text_album">
                            <div class="title_album">Sur le thème des grandes découvertes</div>
                            <div class="border-bottom"></div>
                            <div class="subtitle_album">Salut c'est cool</div>
                        </div>
                    </div>

                    <div class="item_album">
                        <div class="big_cover"></div>
                        <div class="text_album">
                            <div class="title_album">Sur le thème des grandes découvertes</div>
                            <div class="border-bottom"></div>
                            <div class="subtitle_album">Salut c'est cool</div>
                        </div>
                    </div>

                </div>

            </article>

            <article class="container_playlist_avec_artiste">

                <h2>Mes Morceaux préférés</h2>
                <div class="border-bottom"></div>

                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th>Titre du morceau</th>
                            <th>Artiste</th>
                            <th>Genre Musical</th>
                            <th>Durée</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><div class="icons icon_play"></div></td>
                            <td><div class="icons icon_like"></div></td>
                            <td>The Rocking Grounds</td>
                            <td>The Skies Above</td>
                            <td>The Black Mages</td>
                            <td>3:56</td>
                            <td>
                                <div class="dropdown">
                                    <button class="dropbtn icons icon_more"></button>
                                    <div class="dropdown-content">
                                        <a href="#">Télécharger</a>
                                        <a href="#">Partager sur Facebook</a>
                                        <a href="#">Partager sur Twitter</a>
                                        <a href="#">Commenter</a>
                                    </div>
                                </div>
                            </td>
                            <td><div class="icons icon_trash"></div></td>
                        </tr>
                    </tbody>
                </table>

            </article>

        </section>
    {# Page All Playlists #}
        <section id="Playlist_all_pages" class="playlists pages">

                <!--<div class="container_description">
                    <div class="big_cover"></div>
                    <div class="artist_description">
                        <div class="artist_info">
                            <div class="button_h1">
                                <h1>Ma musique</h1>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae ipsum dolor. Curabitur dapibus condimentum dolor a interdum. Mauris rhoncus, elit eu suscipit cursus, mi odio efficitur odio, nec rhoncus ante arcu viverra est. Pellentesque nec sapien aliquam, consectetur nisl eu, luctus augue. Phasellus fermentum elementum vestibulum. Ut vehicula eget justo id tincidunt. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam ac sagittis nisi. Curabitur eu nunc a ex elementum euismod. Aenean in risus pretium, tristique augue at, gravida mauris. Sed at purus eget lacus facilisis pulvinar.</p>
                    </div>

                </div>-->

                <div id="Playlist_all_id" class="container_top_ecoute">
                    <h1>Playlists</h1>
                    <div class="border-bottom"></div>

                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>Nom de la playlist</th>
                                <th>Nom du créateur/artiste</th>
                                <th>Genre Musical</th>
                                {#<th>Nombres d'abonnés</th>#}
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for playliste in playlist %}
                                <tr>
                                    <td><div class="icons icon_play"></div></td>
                                    <td><div class="icons icon_like"></div></td>
                                    <td id="{{ playliste.play_id }}">{{ playliste.nom }}</td>
                                    <td>Créateur</td>
                                    <td>Métal</td>
                                    {#<td>XXX abonnés</td>
                                    <td><div class="icons icon_more"></div></td>#}
                                    <td>
                                        <div class="dropdown">
                                            <button class="dropbtn icons icon_more"></button>
                                            <div class="dropdown-content">
                                                <a href="#">Télécharger</a>
                                                <a href="#">Partager sur Facebook</a>
                                                <a href="#">Partager sur Twitter</a>
                                                <a href="#">Commenter</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>

        </section>
    {# Page Playlist selectionné #}
        <section id="Playlist_pages" class="playlist pages">

            <div class="container_description">
                <div class="big_cover"></div>
                <div class="playlist_description">
                    <div class="playlist_info">
                        <div class="button_h1">
                            <h3>Playlist</h3>
                            <h2>Nom Playlist (nom)</h2>
                            <h4>Créée par : (user)</h4>
                        </div>
                        <div class="playlist_share">
                            <div>Partager la playlist : </div>
                            {#<div class="abonnes">nb_abo</div>
                            <div class="icons icon_share"></div>#}
                            <div class="icons icon_facebook"></div>
                            <div class="icons icon_twitter"></div>
                        </div>
                    </div>
                </div>
            </div>

            <table id="tab_music">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Titre du morceau</th>
                        <th>Artiste</th>
                        <th>Genre Musical</th>
                        <th>Durée</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><div class="icons icon_play"></div></td>
                        <td><div class="icons icon_like"></div></td>
                        <td>The Rocking Grounds</td>
                        <td>The Skies Above</td>
                        <td>The Black Mages</td>
                        <td>3:56</td>
                        <td>
                            <div class="dropdown">
                                <button class="dropbtn icons icon_more"></button>
                                <div class="dropdown-content">
                                    <a href="#">Télécharger</a>
                                    <a href="#">Partager sur Facebook</a>
                                    <a href="#">Partager sur Twitter</a>
                                    <a href="#">Commenter</a>
                                </div>
                            </div>
                        </td>
                        <td><div class="icons icon_trash"></div></td>
                    </tr>
                </tbody>
            </table>

            <article class="container_commentaires">
                <h2>Commentaires</h2>
                <div class="border-bottom"></div>
                <ul>
                    <li>
                        <div>
                            <div class="picture_title_comm">
                                <div class="picture_comm"></div>
                                <div>Mozart à aimé</div>
                                <div class="point_comm">•</div>
                                <div class="time_comm">Il y a 5 minutes</div>
                            </div>
                            <div class="comm">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </div>
                        </div>

                        <div class="icons_all">
                            <div class="icons icon_like"></div>
                            <div class="icons icon_dislike"></div>
                        </div>

                    </li>
                    <li>
                        <div>
                            <div class="picture_title_comm">
                                <div class="picture_comm"></div>
                                <div>Mozart à aimé</div>
                                <div class="point_comm">•</div>
                                <div class="time_comm">Il y a 5 minutes</div>
                            </div>
                            <div class="comm">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </div>
                        </div>

                        <div class="icons_all">
                            <div class="icons icon_like"></div>
                            <div class="icons icon_dislike"></div>
                        </div>

                    </li>
                </ul>
            </article>

            <article class="container_écrire_commentaire">

                <div class="main-content">

                    <h2>Ecrire un commentaire</h2>
                    <div class="border-bottom"></div>

                    <div class="form-group">
                        <label>Titre ou résumé de votre commentaire :</label>
                        <input type="text" value="" class="input-control" />
                    </div>

                    <div class="form-group">
                        <label>Entrez ici votre commentaire :</label>
                        <textarea type="text" value="" class="input-control"></textarea>
                    </div>

                    <div class="form-group">
                        <div class="btn_mid">
                            <button class="btn_w">
                                <a href="home.html">Soumettre</a>
                            </button>
                        </div>
                    </div>

                </div>


            </article>


            {# !! IMPORTANT  !! Pour la récupérattion des src audios #}
            <audio id="audio_a" style="display: none;" >
                <source id="audioSource" src=""></source>
            </audio>
        </section>

        <section id="userprofile_pages" class="user_profile pages">

            {% if is_granted("IS_AUTHENTICATED_FULLY") %}

                <article class="main-content">

                    <h2>Ajouter une musique</h2>
                    <div class="border-bottom"></div>
                    {{ form_start(FormMusic) }}

                    <div class="form-group">
                        <label>Titre :</label>
                        {{ form_widget(FormMusic.titre, { 'attr': {'class': 'input-control' } }) }}
                        {{ form_errors(FormMusic.titre) }}
                    </div>

                    <div class="form-group">
                        <label>Album :</label>
                        {{ form_widget(FormMusic.album, { 'attr': {'class': 'input-control' } }) }}
                        {{ form_errors(FormMusic.album) }}
                    </div>

                    <div class="form-group">
                        <label>Artiste :</label>
                        {{ form_widget(FormMusic.artiste, { 'attr': {'class': 'input-control' } }) }}
                        {{ form_errors(FormMusic.artiste) }}
                    </div>

                    <div class="form-group">
                        <label>Piste :</label>
                        {{ form_widget(FormMusic.piste, { 'attr': {'class': 'input-control' } }) }}
                        {{ form_errors(FormMusic.piste) }}
                    </div>

                    <div class="form-group">
                        <label>Genre Musical :</label>
                        <select name="genre_musical" class="select-control">
                            <option value="">Folk</option>
                            <option value="">Dance</option>
                            <option value="">Electro</option>
                            <option value="">Métal</option>
                            <option value="">Rock</option>
                            <option value="">Pop</option>
                            <option value="">Reggae</option>
                            <option value="">R'N'B</option>
                            <option value="">Rap</option>
                            <option value="">Internat</option>
                            <option value="">Variété</option>
                            <option value="">Classique</option>
                            <option value="">Jazz</option>
                            <option value="">Soul</option>
                            <option value="">Blues</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Image :</label>
                        {{ form_widget(FormMusic.image) }}
                        {{ form_errors(FormMusic.image) }}
                    </div>

                    <div class="form-group">
                        <label>Type :</label>
                        {{ form_widget(FormMusic.type, { 'attr': {'class': 'input-control' } }) }}
                        {{ form_errors(FormMusic.type) }}
                    </div>

                    <div class="form-group">
                        <label>Aujouter mon morceau :</label>
                        {{ form_widget(FormMusic.file) }}
                        {{ form_errors(FormMusic.file) }}
                    </div>

                    <div class="form-group">
                        <div class="btn_mid">
                            <input class="btn_w" type="submit" value="Ajouter">
                        </div>
                    </div>

                    {#{{ form_end(FormMusic) }}
                        <select id="monselect">
                            {% for ListeUser in PlayListUser %}
                            <option value="{{ ListeUser.play_id }}">{{ ListeUser.nom }}</option>
                            {% endfor %}
                        </select>#}
                </article>
            {% else %}

                <p><b>Bienvenue</b><br> Vous devez être connecté pour ajouter une musique.</p>
            {% endif %}


            {# <select id="Add_Music_Ajax">
                {% for playlistes in playlistcopie %}
                    <option value="{{ playlistes.play_id }}">{{ playlistes.nom }}</option>
                {% endfor %}
            <selected> #}

        </section>

    </div>

    {# Menu de droite (Commentaires / Premium / Ect.. ) #}
    <nav class="right_panel">
        <ul>
            <li>
                {# Petite condition - Si la sexion actuelle comporte un Utilisateur, afficher son Nom. Sinon Afficher Bienvenue #}
                {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                <a id="userprofile">{{ app.user.username }}</a>
                {% else %} <p><b>Bienvenue</b></p>
                {% endif %}
            </li>
            <li><button>Premium</button></li>
            {# 
                Premiére Boucle - Récupération des Objets Commentaires.
                Condition - Si le commentaires date d'aujourd'hui alors l'affichier. Sinon ne rien faire.
                Html - Remplissage des balises Div par les Variables Twig de l'objet Commentaires.
             #}
            {% for Commentaires in commentaire %}
                {% if Commentaires.date_creation|date('Y-m-d') == "now"|date("Y-m-d") %}
                    <li>
                        <div>
                        {{ Commentaires.user_id.username }} {{ Commentaires.action }} :</br>
                        {{ Commentaires.titre }} 
                        </div>
                        <div>{{ Commentaires.text }}</div>
                        <div>Aujourd'hui à {{ Commentaires.date_creation|date('H:m:s') }}</div>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav> 

    {# La Partie Player #}
    <div class="container_player">

        <div class="cover_info">
            <div class="cover">
                <img src="{{ asset('framework/images/smiley.gif') }}" alt="Smiley face" height="42" width="42">
            </div>
            <div class="info_cover">
                <div class="title_artist_name">
                    <div id='Titre_music'></div>
                    <div id='Artiste_music'></div>
                </div>
                <div class="icons icon_comm"><button>{#<img  src="{{ asset('framework/images/icon_comm.svg') }}"/>#}</button></div>
                {#<div class="icon_comm"><button class="icon_comm"><img  src="{{ asset('framework/images/icon_comm.svg') }}"/></button></div>#}
            </div>
        </div>

        <div class="player">
            <div class="followers">
                <div class="icons icon_like"><button id="icon_like"class="control" onclick="LikeMusic('audio_a', this);" /></div>
                <div class="icons icon_dislike"><button id="icon_dislike"class="control" onclick="DislikeMusic('audio_a', this);" /></div>
                <div class="icons icon_add"><button id="icon_add" class="control" onclick="AddMusic('audio_a', this);" /></div>
            </div>

            <div id="progressBarControl">
                <div id="progressBar" onclick="clickProgress('audio_a', this, event)"></div>
            </div>

            <div id="Play_Button" class="play">
                <div class="icons icon_last"><button id="icon_last" class="control" onclick="PreMusic('audio_a', this);" /></div>
                <div class="icons icon_play"><button id="icon_play" class="control" onclick="play('audio_a', this);" /></div>
                <div class="icons icon_next"><button id="icon_next" class="control" onclick="NextMusic('audio_a', this);" /></div>
            </div>

            <div class="order">
                <div class="icons icon_random"><button id="icon_random" onclick="RandomMusic('audio_a', this);" /></div>
                <div class="icons icon_loop"><button id="icon_loop" onclick="BoucleMusic('audio_a', this);" /></div>

                <div id="progressTime" class="time"></div>

                <div class="volume">
                    <a class="stick1" onclick="volume('audio_a', 0)"></a>
                    <a class="stick2" onclick="volume('audio_a', 0.3)"></a>
                    <a class="stick3" onclick="volume('audio_a', 0.5)"></a>
                    <a class="stick4" onclick="volume('audio_a', 0.7)"></a>
                    <a class="stick5" onclick="volume('audio_a', 1)"></a>
                </div>

            </div>
        </div>

        <div id="Name_Playlist" class="current_listening">
        </div>

    </div>

</div>

{% endblock %}
{% block javascripts %}{{ parent() }}
<script>  

var Url_Playlist = "{{ path('PlaylisteAutomate') }}";

//Tableau playliste_music qui comporte dynamiquement la liste des musique
// de la playlist selectionné
var playliste_music = [];

// ## Partie Ajax ##
    /*
        Playlist_all_id :
            - Récupére l'id du td (ligne tableau) Selectionné
            - Envoie en Post l'id dans une function 'WavesController/PlaylisteAutomate'
            - Récupére les Musiques correspondantes a la Playliste
            - Affiche les musique via 'music_table.append()' dans la Div mére
    */
    $('#Playlist_all_id td').click(function(){
        var id =  $(this).attr('id');
        var value =  $(this).html();
        music_page = $('#Playlist_pages');
        music_table = $('#Playlist_pages table tbody');
        playlists_all = $('#Playlist_all_pages');
        Name_Playlist = $('#Name_Playlist');
        playliste_music = [];
        playlists_all.hide();
        var url_music = "{{ path('dowload_music') }}";
        var url_del_music = "{{ path('delete_music') }}";
        var id_music;
        //var jObj = $("option", this).filter(":selected"), id = jObj.get(0).id;
        $.ajax({
            url: "{{ path('PlaylisteAutomate') }}",
            type: "POST",
            dataType: "html",
            data: {
                id : id
            },
            success: function (data) {
                music_table.empty();
                music_page.show();
                var tab = JSON.parse(data);
                //Vide la playliste acuel
                Name_Playlist.empty();
                for(var i=0; i < tab.length; i++ ){ 
                    id_music = tab[i].music_id;
                   playliste_music.push(tab[i].src);
                   music_table.append('<tr>');
                   music_table.append('<td><a id="'+tab[i].music_id+'" href="#" data-value="'+tab[i].src+'">play</a></td>');
                   music_table.append('<td><div class="icons icon_heart"></div></td>');
                   music_table.append('<td>"'+tab[i].titre+'"</td>');
                   music_table.append('<td>'+tab[i].artiste+'</td>');
                   music_table.append('<td>'+tab[i].album+'</td>');
                   music_table.append('<td>'+tab[i].times+'</td>');
                   music_table.append('<td id="TwigLien"><a href="'+url_music+'/'+id_music+'"> Dowload </a></td>');
                    music_table.append('<td><a href="'+url_del_music+'/'+id_music+'"> Supprimer </a></td>');
                   music_table.append('</tr>');
                }
                Name_Playlist.append(value);
            }
        });
        
    })



    /*
       - Récupére un objet Music - 
    */
    function getMusic(id){
        //Variables Music
        artiste = $('#Artiste_music');
        titre = $('#Titre_music');
        var end_time, start_time;
        titre.empty();
        artiste.empty();
        if(id){
            $.ajax({
            url: "{{ path('getMusicid') }}",
            type: "POST",
            dataType: "html",
            data: {
                id : id
            },
            success: function (data) {
                var tab = JSON.parse(data);
                titre.append(tab.titre);
                artiste.append(tab.artiste);
            }
            });
        }
    }
</script>
<script src="{{ asset('framework/js/p5/radialsound.js') }}"></script>
<script type="text/javascript" src="{{ asset('framework/js/ajax.js') }}"></script>
{% endblock %}