{%  extends '::base.html.twig' %}
{% block title %}{% endblock %}
{% block stylesheets %}{{ parent() }}
{# <script src="{{ asset('framework/js/p5/radialsound.js') }}"></script> #}
{% endblock %}
{% block body %}
    <h2>Test playlist</h2>

    <select id="Playlist">
        {% for playliste in playlist %}
            <option id="{{ playliste.play_id }}" value="{{ playliste.nom }}">{{ playliste.nom }}</option>
        {% endfor %}
    </select>

    <div id="playermusic" style="border:1px solid black; height:20px;">
    </div>


{% endblock %}
{% block javascripts %}{{ parent() }}
<script>
//preload la music choisie


$('#Playlist').change(function(){
    bloq = false;
    $('#Playlist').each(function(){
        value = $(this).val();
        if(value == ""){ bloq = true; }
    })
    if(!bloq){
        //Lancement de la recher Ajax !
        music = $('#playermusic');
        
        var jObj = $("option", this).filter(":selected"), id = jObj.get(0).id;
        $.ajax({
            url: "{{ path('PlaylisteAutomate') }}",
            type: "POST",
            dataType: "html",
            data: {
                id : id
            },
            success: function (data) {
                var tab = JSON.parse(data);
                document.getElementById('playermusic').innerHTML = "";
                    for(var i=0; i < tab.length; i++ ){ 
                        //music.append('<img src="'+tab[i].image+'" height="45" width="45">');
                        music.append('<audio id="audio" controls="controls"> <source src="'+tab[i].src+'" type="audio/mp3"> </audio> <br>');
                         
                    }
            }
        });
    }
});

//Test Player 

var player = document.querySelector('#audio');

$('#music').click(function(){
    console.log('test');
})
function preload() {
    song = document.getElementById("music").src ;
    console.log(song);
    //song = loadSound(document.getElementById("playerid").src);
}
</script>
{% endblock %}